<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Restaurant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="Add"> Add Restaurant</a>
          <!-- <a class="nav-item nav-link" routerLink="Update"> Update Restaurant</a>  -->
  <a class="nav-item nav-link" routerLink="Register"> Register Restaurant</a>
  <a class="nav-item nav-link" routerLink="Login"> Login Restaurant</a>
  <a class="nav-item nav-link" routerLink="List"> List Restaurant</a>
      </div>
    </div>
  </nav>

  <div>
    <img src="../assets/img/Montreal.jpg" alt="Hotel collage" class="collage">
    <!-- <div class="centered"> Welcome to Restaurant Compare </div> -->
  </div>

