<h1>Register New User</h1>

  <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Success</strong> Your Registration Has Been Submited.
    <!-- <button (click)="closeAlter()" type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
      <!-- <span aria-hidden="true">&times;</span>
    </button> -->
  </div>

<form [formGroup] = 'register' (ngSubmit)="regcollect ()">
    <div class="form-group">
      <label for="nameEnter">Name</label>
      <input type="text" class="form-control"  formControlName='name' placeholder="Enter Your Name">
    </div>
    <br>
    <div class="form-group">
      <label for="emailEnter">Email ID</label>
      <input type="email" class="form-control" formControlName='email' placeholder="Enter Your Email">
    </div>
    <br>
    <div class="form-group">
        <label for="passwordEnter">Password</label>
        <input type="password" class="form-control" formControlName='password' placeholder="Enter Your Password">
      </div>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

